<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>5963225389-g6vsdgq73i1gsfjpga8nffuhacl80grd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5963225389-g6vsdgq73i1gsfjpga8nffuhacl80grd</string>
	<key>API_KEY</key>
	<string>AIzaSyDVT45Jp2big1a6G6bEY2eUpk47SlMduJk</string>
	<key>GCM_SENDER_ID</key>
	<string>5963225389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nirapps.SpaceCat</string>
	<key>PROJECT_ID</key>
	<string>spacecat-fb699</string>
	<key>STORAGE_BUCKET</key>
	<string>spacecat-fb699.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:5963225389:ios:5b97abc36387df8a</string>
	<key>DATABASE_URL</key>
	<string>https://spacecat-fb699.firebaseio.com</string>
</dict>
</plist>